<h1>Hello! This api only returns two endpoints.</h1>


<h2>For use the first endpoint:</h2>
<p>This endpoint only returns the response by https://www.ssllabs.com/, analyze the url with the documents requirements
    for the correct use is necessary write the url like this:
</p>

<h3>http://127.0.0.1:8000/analice_url/"domain to analyze"/</h3>

<h3>For example: http://127.0.0.1:8000/analyze_url/truora.com/</h3>

<h2>For use the second endpoint:</h2>

<p>This endpoint only returns the history required en the second point of test, the history for the first endpoint.
    For access to end point you need to go:
</p>

<h3>For example: http://127.0.0.1:8000/analyze_url/history/</h3>

<h2>Notes:</h2>
<p>-You need create a database in postgresql and migrate for use.
    -If you need get access to admin user you need create a superuser like django documentation explains.
</p>