<h1>Hello! This api only returns two endpoints.</h1>


<h4>For use the first endpoint:</h4>
<p>This endpoint only returns the response by https://www.ssllabs.com/, analyze the url with the documents requirements
    for the correct use is necessary write the url like this:
</p>

<h6>http://127.0.0.1:8000/analice_url/"domain to analyze"/</h6>

<h6>For example: http://127.0.0.1:8000/analice_url/truora.com/</h6>

<h4>For use the second endpoint:</h4>

<p>This endpoint only returns the history required en the second point of test, the history for the first endpoint.
    For access to end point you need to go:
</p>

<h6>For example: http://127.0.0.1:8000/analice_url/history/</h6>

<h5>Notes:</h5>
<p>-You need create a database in postgresql and migrate for use.
    -If you need get access to admin user you need create a superuser like django documentation explains.
</p>